<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.codingcarlos.masterexample"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Master Example</name>

  <description>
      Un ejemplito para el master
  </description>

  <author href="https://github.com/CodingCarlos" email="hola@codingcarlos.com">
      Carlos Hernandez
  </author>
    
  <plugin name="cordova-plugin-camera" />

</widget>
